In [1]:
import pandas as pd

In [14]:
data=pd.read_excel("./FARMERS LIST SHREE FARMERS LIST.xlsm")
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,SR NO,Name of the User,Mobile No.1,Sub-Village,SR NO,Name of the User,Mobile No.1,Sub-Village
1,1,GUNVANTBHAI KARSHANBHAI,9974828949,Vadod,521,VITHALBHAI NARANBHAI ZAPADIYA,7505865960,Kasloliya
2,2,RAMESHBHAI RAVAJIBHAI,9998453310,Vadod,522,LALJIBHAI VALAJIBHAI RATHOD,9662431926,Kasloliya
3,3,RAVJIBHAI GHUGHABHAI DABHI,9601148533,Vadod,523,RAGHUBHAI KESHARBHAI ZAPADIYA,9558910736,Kasloliya
4,4,DEHURBHAI VASRAMBHAI,9725128125,Vadod,524,VALJIBHAI POLABHAI ZAPADIYA,9725829522,Kasloliya

In [17]:
for i in data['Unnamed: 2']:
    print(len(i))

11

TypeError: object of type 'int' has no len()